*{
  font-family: "Roboto", sans-serif;
}


hr{
  border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
/* title skill and language css  */
.process-title{
  position: relative;
}
.process-title p{
  position: absolute;
  top :-25px;
  left: 40px;
  font-size: 25px;
  color:#757575;
}

/* skill css */
.skill-process p{
  color:#757575;
}

.process-title .skill-logo{
  color:  #009688;
  font-size: 30px;
}

.progressbar {
    background-color: #f1f1f1;
    border-radius: 13px;
    padding: 0px;
  }
  
.progressbar>div {
    background-color: #009688;
    height: 20px;
    border-radius: 10px;
  }
.progressbar p{
    color: white;
    text-align: center;
  }


/* language Css */

.process-title .language-logo{
  color:  #009688;
  font-size: 30px;
}
.languges p{
    color:#757575;
  }


.language-progressbar {
    background-color: #f1f1f1;
    border-radius: 13px;
    padding: 0px;
  }
  
.language-progressbar>div {
    background-color: #009688;
    height: 30px;
    border-radius: 15px;
  }

