html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  margin :0;
  padding: 0;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  height: 100px;
}

#cl{
  clear: both;
}

/* left-colum  */
.left-column{
  float: left;
  width: 30.5%;
  height: 100%;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  margin-left: 8px;
  margin-top: 8px; 
  margin-right: 8px;
}

.left-column .intro{
  padding: 8px 8px;
}

/* right-column */
.right-column{
  float: right;
  width: 65%;
  height: 100%;
  padding: 0;
  margin-top: 8px; 
  margin-right: 8px;
}

.right-column .work-experience{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}


hr{
  border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
/* .work-experience */
.right-column .work-experience{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  padding: 8px 20px;
}
.work-experience h1{
  margin: 0;
}

/* edu-experience */
.right-column .edu-experience{
  margin:20px 0;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  padding: 8px 20px;
  
} 

.edu-experience h1{
  margin: 0;
}

/* work */

.work h1,h3{
  color:#757575;
}
.work h3+p{
  color:#009688;
}

/* avatar */
.avatar{
  position: relative;
}

.gradi{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(9,9,9);
  background: rgb(9,9,9);
  background: -moz-linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(255,255,255,0.2221931008731618) 47%);
  background: -webkit-linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(255,255,255,0.2221931008731618) 47%);
  background: linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(255,255,255,0.2221931008731618) 47%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090909",endColorstr="#ffffff",GradientType=1);
  top:0;
}
.avatar img{
  width: 100%;
}

.avatar h2{
  position: absolute;
  color:rgb(185, 181, 181);
  left:30px;
  bottom: 0;
  text-align: center; 
}

/* infomation */
.infomation > p{
  font-size: 18px;
  color:#757575;
}
/* logo style */

.skills > p{
  font-size: 18px;
}

.languges > p{
  font-size: 18px;
}

.logo{
  margin-right: 16px;
  color: #009688;
}
/* skill css */
.skills p{
  color:#757575;
}

.process-title .skill-logo{
  color:  #009688;
  font-size: 30px;
}

.progressbar {
    background-color: #f1f1f1;
    border-radius: 13px;
    padding: 0px;
  }
  
.progressbar>div {
    background-color: #009688;
    height: 20px;
    border-radius: 10px;
  }
.progressbar p{
    color: white;
    text-align: center;
  }


/* language Css */

.process-title .language-logo{
  color:  #009688;
  font-size: 30px;
}
.languges p{
    color:#757575;
  }


.language-progressbar {
    background-color: #f1f1f1;
    border-radius: 13px;
    padding: 0px;
  }
  
.language-progressbar>div {
    background-color: #009688;
    height: 30px;
    border-radius: 15px;
  }



/* footer */
.footer{
  margin: 0;
  padding: 0;
  height: 150px;
  text-align: center;
  background-color: #009688;
  width: 100%;
}

@media(max-width: 600px)
{
  
  .left-column{
    display: block;
    width: 88vw;
    margin-left: 25px;
    margin-right:10px; ;
  }

  
  .right-column{
    display: block;
    width: 100%;
  }

  .right-column .edu-experience{
    margin-left: 33px;
    margin-top: 20px; 
    margin-right: 20px;
  }

  .right-column .work-experience{
    margin-left: 33px;
    margin-top: 20px; 
    margin-right: 20px;
  }
}